<ng-include src="'menu.html'"></ng-include>


<form name="clientForm">

    <!--new client data input-->

    Security number: <input name="securityNr" type="number" ng-model="vm.securityNr" ng-disabled="vm.readonly" required>
    <div role="alert">
      <span class="error" ng-show="clientForm.securityNr.$error.required">
       Required!</span>
    </div>

    First name: <input ng-model="vm.firstName"> <br>
    Last name: <input ng-model="vm.lastName"> <br>
    Phone: <input ng-model="vm.phone"> <br>
    Country: <input ng-model="vm.country"> <br>
    Address: <input ng-model="vm.address"> <br>

    <!--Save new client button-->
    <button ng-disabled="clientForm.$invalid" ng-click="vm.addNewClient()">Save client</button>
    <br><br>

</form>
<!--Show client data-->
<table>
    <tr>
        <th>
            <button ng-click="vm.propertyName = 'securityNr'">Security nr</button>
        </th>
        <th>
            <button ng-click="vm.propertyName = 'firstName'">First name</button>
        </th>
        <th>
            <button ng-click="vm.propertyName = 'lastName'">Last Name</button>
        </th>
        <th>
            <button ng-click="vm.propertyName = 'phone'">Phone</button>
        </th>
        <th>
            <button ng-click="vm.propertyName = 'country'">Country</button>
        </th>
        <th>
            <button ng-click="vm.propertyName = 'address'">Address</button>
        </th>

    </tr>
    <tr ng-repeat="client in vm.clients | orderBy: vm.propertyName">
        <td>{{client.securityNr}}</td>
        <td>{{client.firstName}}</td>
        <td>{{client.lastName}}</td>
        <td>{{client.phone}}</td>
        <td>{{client.country}}</td>
        <td>{{client.address}}</td>
        <!--Delete client button-->
        <td><a href="/#!/editclient/{{client.securityNr}}">Edit</a></td>
        <td>
            <button ng-click="vm.deleteClient(client.securityNr)">Delete</button>
        </td>

    </tr>
</table>

