<ng-include src="'menu.html'"></ng-include>

<form name="orderForm">

<!--new order data input-->
Select Client: <select ng-model="vm.client" ng-options="y.firstName for (x, y) in vm.clients" required>
</select>
<br>
<br>

Add Product: <select ng-model="vm.product" ng-options="y.barcode for (x, y) in vm.allProducts">
</select>
<!--Add product to order button-->
<button ng-click="vm.addProduct()">Add product</button>

<br><br>
<!--Save new order button-->
<button ng-disabled="orderForm.$invalid" ng-click="vm.addNewOrder()">Save order</button>
<br><br>
</form>

<!--Show order data-->
<table>
    <tr>
        <th>
            <button ng-click="vm.propertyName = 'orderNr'">Order number</button>
        </th>
        <th>
            <button ng-click="vm.propertyName = 'price'">Price</button>
        </th>
        <th>
            <button ng-click="vm.propertyName = 'transactionDate'">Transaction date</button>
        </th>
        <th>
            <button ng-click="vm.propertyName = 'client.firstName'">Client first name</button>
        </th>
        <th>
            <button ng-click="vm.propertyName = 'client.lastName'">Client last name</button>
        </th>
        <th>
            <button ng-click="vm.propertyName = 'products'">Product info</button>
        </th>
    </tr>
    <tr ng-repeat="order in vm.orders | orderBy: vm.propertyName">
        <td>{{order.orderNr}}</td>
        <td>{{order.price}}</td>
        <td>{{order.transactionDate | date:'mediumDate'}}</td>
        <td>{{order.client.firstName}}</td>
        <td>{{order.client.lastName}}</td>
        <td>{{order.products}}</td>


        <!--Delete order button-->
        <!--<td><a href="/#!/editorder/{{order.orderNr}}">Edit</a></td>-->
        <td>
            <button ng-click="vm.deleteOrder(order.orderNr)">Delete</button>
        </td>
    </tr>
</table>
