<ng-include src="'menu.html'"></ng-include>

<form name="productForm" novalidate>

    <!--new product data input-->

    Barcode: <input name="barcode" type="number" ng-model="vm.barcode" ng-disabled="vm.readonly" required> <br>
    <div role="alert">
      <span class="error" ng-show="productForm.barcode.$error.required">
       Required!</span>
    </div>

    Product name: <input ng-model="vm.name"> <br>
    Base price: <input type="number" ng-model="vm.basePrice"> <br>
    Description: <input ng-model="vm.description"> <br><br>


    <!--Save new product button-->
    <button ng-disabled="productForm.$invalid" ng-click="vm.addNewProduct()">Save product</button>
    <br><br>

</form>
<!--Show product data-->
<table>
    <tr>
        <th>
            <button ng-click="vm.propertyName = 'barcode'">Barcode</button>
        </th>
        <th>
            <button ng-click="vm.propertyName = 'name'">Name</button>
        </th>
        <th>
            <button ng-click="vm.propertyName = 'basePrice'">Base price (EUR)</button>
        </th>
        <th>
            <button ng-click="vm.propertyName = 'description'">Description</button>
        </th>
        <th>
            <button ng-click="vm.propertyName = 'releaseDate'">Release date</button>
        </th>
    </tr>
    <tr ng-repeat="product in vm.products | orderBy: vm.propertyName">
        <td>{{product.barcode}}</td>
        <td>{{product.name}}</td>
        <td>{{product.basePrice}}</td>
        <td>{{product.description}}</td>
        <td>{{product.releaseDate | date:'mediumDate'}}</td>
        <!--Delete product button-->
        <td><a href="/#!/editproduct/{{product.barcode}}">Edit</a></td>
        <td>
            <button ng-click="vm.deleteProduct(product.barcode)">Delete</button>
        </td>

    </tr>

</table>